@use "base";

#edit-item-container {
  height: 100vh;
  background-color: base.$background-color;
}

#edit-item-form-container {
  margin-top: 3px;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
