#home-page-container {
  background-color: #fffde4;
}

#hero-container {
  display: flex;
  justify-content: center;
  background-color: #ff4646;
  color: white;
}

#hero-info-container {
  display: flex;
  flex-direction: column;
  min-width: 185px;
  text-align: center;
}

#hero-info-container h2 {
  font-size: 24px;
  font-weight: 700;
}

#hero-info-container h3 {
  font-size: 14px;
  font-weight: 400;
}

#hero-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#hero-logo-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
}

#hero-logo {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/money.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#promo-banner-container {
  background-color: #ff4646;
}

#promo-banner-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/promo.png");
}

#bottom-action-container {
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fffde4;
  text-align: center;
}

#bottom-action-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#bottom-action-contents Button {
  margin-top: 20px;
}

#bottom-action-container h2 {
  font-size: 24px;
  font-weight: 700;
}

#bottom-action-container h3 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  #hero-container {
    height: 225px;
  }
  #hero-info-container {
    max-width: 185px;
  }
  #hero-logo-container {
    display: flex;
  }
  #promo-banner-container {
    height: 70vw;
  }
  #promo-banner-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  #bottom-action-container {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  #home-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #hero-promo-banner-horizontal-container {
    display: flex;
    flex-direction: row;
    height: 80%;
  }
  #hero-container {
    height: 100%;
    width: 45vw;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero-info-container {
    width: 80%;
  }
  #hero-info-container h2 {
    font-size: 34px !important;
    order: 2;
  }
  #hero-info-container h3 {
    font-size: 24px !important;
    order: 1;
  }
  #hero-button-container #button-container .button-medium {
    font-size: 20px;
    height: 50px;
    width: 150px;
  }
  #hero-logo-container {
    display: none;
  }
  #promo-banner-bottom-action-vertical-container {
    visibility: unset;
  }
  #promo-banner-container {
    background-color: #ff4646;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 100%;
  }
  #bottom-action-container {
    height: 200px;
  }
}
@media screen and (min-width: 1550px) {
  /*
  #promo-banner-image {
    width: 95%;
    height: 95%;

    //border-top-left-radius: 150px 150px;
    //border-bottom-left-radius: 150px 150px;

    //border-top-right-radius: 50px 50px;
    //border-bottom-right-radius: 50px 50px;
    border-radius: 50px;

    background-image: url("../../assets/promo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center !important;

    //border: 2px solid green !important;
  }
  */
}

/*# sourceMappingURL=Home.css.map */
