@use "base";

#container {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: base.$background-color;
}

#parent {
  display: flex;
  width: 90vw;
  padding: 5px;
}

#submit-button {
  margin-top: 40px;
}

#quantity-field {
  display: flex;

  align-items: flex-start;
}

#quantity-field #form-label {
  width: 55%;
}

#quantity-field #form-text-quantity {
  width: 55%;
  margin-left: 8px;
}

#quantity-field #form-select-container {
  margin-top: 2px;
  width: 10%;
}

#serving-field {
  display: flex;

  align-items: flex-start;
}

#serving-field #form-label {
  width: 54%;
}

#serving-field #form-text-serving {
  width: 55%;
  margin-left: 8px;
}

#serving-field #form-select-container {
  margin-top: 2px;
  width: 10%;
}

#form-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#submit {
  margin-top: 10px;
  border: none;

  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background-color: base.$brand-color;
}

#back {
  margin-top: 10px;
  border: none;

  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background-color: base.$accent-color;
}

#vendorHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

#marginHeading label {
  margin-bottom: 10px;
}

.vendorListing {
  display: flex;

  justify-content: right;
  align-items: right;
}
.vendorName {
  border: none;
  font-size: 16px;

  display: flex;
  background-color: #d0d1dd;
  border-radius: 15px;
  margin-bottom: 10px;
  height: 45px;
  width: 45%;

  padding-left: 10px;
  justify-content: left;
  align-items: center;
}

.vendorPrice {
  border: none;
  font-size: 16px;

  display: flex;
  background-color: #d0d1dd;
  border-radius: 15px;
  margin-bottom: 10px;
  height: 45px;
  width: 45%;

  padding-left: 10px;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
}

.vendorDelete {
  border: none;
  font-size: 16px;

  display: flex;
  background-color: #d0d1dd;
  border-radius: 15px;
  margin-bottom: 10px;

  height: 45px;
  width: 10%;

  margin-left: 5px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 2px solid base.$brand-color;
  background-color: white;
  color: base.$brand-color;
}

.roundButton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50px;
  border: 2px solid base.$brand-color;
  background-color: white;
  color: base.$brand-color;
}
