@use "base";

#layout-container {
  display: flex;
  background-color: base.$background-color;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}

#layout-navigation-bar {
  background-color: #fffde4;

  height: 50px;

  bottom: 0;
  position: sticky;
  width: 100%;
}
