@use "base";

#layout-container {
  display: flex;
  background-color: base.$background-color;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
}

#layout-navigation-bar {
  background-color: #fffde4;

  height: 50px;
  padding: 5px;
  border-top: 1px solid grey;

  bottom: 0;
  position: sticky;
}
