@use "base";

#navbar-container {
  background: base.$background-color;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 12px grey;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-site-details {
  display: flex;
}

#navbar-logo-link {
  display: flex;
  text-decoration: none;
}

#navbar-logo {
  background-image: url("../../assets/pantry-logo.png");
  background-size: cover;
  width: 40px;
  height: 40px;

  align-self: center;
}

#navbar-site-name {
  font-size: 32px;
  font-weight: bold;
  color: base.$brand-color;

  align-self: center;
  margin-left: 5px;
}

#navbar-navigation {
  display: flex;
  align-items: center;
}

#navbar-log-button {
  border: none;
  border-radius: 20px;
  font-size: 14px;
  height: 40px;
  width: 95px;
  background-color: base.$brand-color;
  color: white;
}
