@use "base";

#navbar-container {
  background-color: base.$background-color;

  display: flex;
  flex-direction: row;

  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-item {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 4px;
  border-radius: 8px;

  width: 50px;
  cursor: pointer;
}

.navbar-item-selected {
  background-color: rgba($color: base.$accent-color, $alpha: 0.7);
}

.navbar-item-icon {
  width: 35px;
  height: 35px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#navbar-pantry {
  background-image: url("../../assets/cupboard.png");
}

#navbar-view-items {
  background-image: url("../../assets/dinner.png");
}

#navbar-create-item {
  width: 40px;
  height: 40px;

  background: base.$brand-color;
  border: 2px solid base.$brand-color;
  border-radius: 360px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-family: Arial;
}

#navbar-create-item:hover {
  background-color: base.$interaction-color;
  border-color: base.$interaction-color;
}
