#view-items-container {
  background-color: #fffde4;
  height: 100vh;
  margin-top: 3px;
  padding-top: 15px;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffde4;
  gap: 5px;
}

#items-heading {
  text-align: center;
}

#no-item-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
