#view-items-container {
  background-color: #fffde4;

  margin-top: 3px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffde4;
  gap: 5px;
}

#items-heading {
  text-align: center;
}
